# CRÉATION D'UNE BASE DE DONNÉES ALÉATOIRE SUR LES RESTAURANTS

In [42]:
import pandas as pd
import random as rd

## RESTAURANTS

In [43]:
df_resto = pd.read_csv("data_resto.csv")

df_resto

,code_postal,pays,capacité,espace_enfants,borne_service_rapide,parking,acces_handicap
0,24-13,United States,247,No,No,No,Yes
1,G27 7HT,South Africa,96,Yes,Yes,No,No
2,7443 YD,Colombia,68,Yes,No,Yes,Yes
3,93956-418,Vietnam,181,No,No,Yes,Yes
4,977145,Italy,75,No,No,No,No
...,...,...,...,...,...,...,...
245,183227,Turkey,126,No,Yes,Yes,No
246,8563,Germany,135,Yes,Yes,Yes,Yes
247,21354,Italy,63,No,No,No,No
248,4460,Pakistan,135,Yes,No,Yes,Yes
249,7363,Peru,198,Yes,Yes,Yes,Yes

In [44]:
df_resto["espace_enfants"] = df_resto["espace_enfants"].apply(lambda x: 1 if x == "Yes" else x)
df_resto["espace_enfants"] = df_resto["espace_enfants"].apply(lambda x: 0 if x == "No" else x)

df_resto["borne_service_rapide"] = df_resto["borne_service_rapide"].apply(lambda x: 1 if x == "Yes" else x)
df_resto["borne_service_rapide"] = df_resto["borne_service_rapide"].apply(lambda x: 0 if x == "No" else x)

df_resto["parking"] = df_resto["parking"].apply(lambda x: 1 if x == "Yes" else x)
df_resto["parking"] = df_resto["parking"].apply(lambda x: 0 if x == "No" else x)

df_resto["acces_handicap"] = df_resto["acces_handicap"].apply(lambda x: 1 if x == "Yes" else x)
df_resto["acces_handicap"] = df_resto["acces_handicap"].apply(lambda x: 0 if x == "No" else x)

df_resto

,code_postal,pays,capacité,espace_enfants,borne_service_rapide,parking,acces_handicap
0,24-13,United States,247,0,0,0,1
1,G27 7HT,South Africa,96,1,1,0,0
2,7443 YD,Colombia,68,1,0,1,1
3,93956-418,Vietnam,181,0,0,1,1
4,977145,Italy,75,0,0,0,0
...,...,...,...,...,...,...,...
245,183227,Turkey,126,0,1,1,0
246,8563,Germany,135,1,1,1,1
247,21354,Italy,63,0,0,0,0
248,4460,Pakistan,135,1,0,1,1
249,7363,Peru,198,1,1,1,1

In [45]:
df_resto.groupby("pays").count()

,code_postal,capacité,espace_enfants,borne_service_rapide,parking,acces_handicap
pays,,,,,,
Australia,7,7,7,7,7,7
Austria,5,5,5,5,5,5
Belgium,9,9,9,9,9,9
Brazil,9,9,9,9,9,9
Canada,5,5,5,5,5,5
Chile,7,7,7,7,7,7
China,13,13,13,13,13,13
Colombia,5,5,5,5,5,5
Costa Rica,6,6,6,6,6,6
France,9,9,9,9,9,9
Germany,7,7,7,7,7,7
India,7,7,7,7,7,7
Indonesia,4,4,4,4,4,4
Ireland,7,7,7,7,7,7
Italy,9,9,9,9,9,9
Mexico,4,4,4,4,4,4
Netherlands,5,5,5,5,5,5
New Zealand,9,9,9,9,9,9
Nigeria,5,5,5,5,5,5
Norway,11,11,11,11,11,11
Pakistan,10,10,10,10,10,10
Peru,9,9,9,9,9,9
Philippines,7,7,7,7,7,7
Poland,10,10,10,10,10,10
Russian Federation,4,4,4,4,4,4
Singapore,6,6,6,6,6,6
South Africa,5,5,5,5,5,5
South Korea,5,5,5,5,5,5
Spain,11,11,11,11,11,11
Turkey,5,5,5,5,5,5
Ukraine,6,6,6,6,6,6
United Kingdom,8,8,8,8,8,8
United States,6,6,6,6,6,6
Vietnam,15,15,15,15,15,15

In [46]:
df_resto["pays"].nunique()

34

## EMPLOYÉS

##### Création de la liste des employés.

In [47]:
df_employes = pd.read_csv("data_employes.csv")

df_employes

,nom,telephone,email,address,date,poste,note
0,Kenneth Snow,1-465-332-3956,integer.vitae@icloud.org,Ap #109-9179 Quisque Rd.,4/5/2004,cuisinier,0.0
1,Maia Garcia,176-3341,fusce@outlook.net,606 Odio. Ave,3/5/2010,cuisinier,1.0
2,Shannon Mooney,1-501-732-0136,id@yahoo.net,"Ap #985-7190 Vulputate, Road",7/9/2020,cuisinier,3.0
3,Tatyana Pace,1-178-335-7465,lectus@google.org,Ap #344-5490 Pellentesque Avenue,26/11/2007,cuisinier,0.0
4,Indira Vega,821-7453,quis.massa@yahoo.org,152-5825 Urna Rd.,16/4/2006,cuisinier,9.0
...,...,...,...,...,...,...,...
3640,Caldwell Salinas,1-811-733-2826,vitae.sodales@outlook.couk,Ap #252-1766 Mollis St.,10/8/2017,cuisinier,6.0
3641,Cally Burton,567-3727,quisque.fringilla.euismod@aol.ca,290-9064 Sed Rd.,11/11/2015,cuisinier,5.0
3642,Irma Mccall,573-5934,malesuada.augue@outlook.ca,Ap #777-9961 Elementum Rd.,4/9/2007,cuisinier,5.0
3643,Charity Humphrey,1-529-888-7386,a.scelerisque.sed@aol.net,Ap #234-705 Faucibus Av.,20/12/2008,cuisinier,2.0
3644,Wanda Sullivan,535-5059,mauris.aliquam@icloud.com,"P.O. Box 959, 5947 Volutpat. Av.",31/5/2019,cuisinier,7.0

In [48]:
df_employes.count()

nom          3645
telephone    3645
email        3645
address      3645
date         3645
poste        3645
note         3000
dtype: int64

In [49]:
df_employes.groupby("poste").count()

            nom  telephone  email  address  date  note
poste
caissier   1000       1000   1000     1000  1000  1000
cuisinier  2000       2000   2000     2000  2000  2000
directeur   245        245    245      245   245     0
manager     400        400    400      400   400     0

## CARTES

#### Création des plats.

Un plat comprend : 
- Le pain du burger.
- 1 ou 2 viandes (steak, fish ou nugguet).
- 0 ou 1 sauce.
- De 0 à 3 fromages

In [50]:
df_ingredient_plat = pd.DataFrame({
    "ingredient": ["pain", "steak", "nugguet", "fish", "salade", "tomate", "cornichon", "s_mayo", "s_ketchup", "s_barbecue", "fromage", "sans"], 
    "prix": [0.49, 0.99, 1.19, 1.49, 0.29, 0.29, 0.09, 0.19, 0.19, 0.19, 0.39, 0],
    "stock": [rd.randint(1000, 5000), rd.randint(200, 2000), rd.randint(200, 2000), rd.randint(200, 2000), rd.randint(200, 2000), rd.randint(200, 2000), rd.randint(200, 2000), rd.randint(200, 2000), rd.randint(200, 2000), rd.randint(200, 2000), rd.randint(800, 4000), 0, ]
    })

df_ingredient_plat

    ingredient  prix  stock
0         pain  0.49   2704
1        steak  0.99    379
2      nugguet  1.19   1142
3         fish  1.49   1323
4       salade  0.29    981
5       tomate  0.29   1620
6    cornichon  0.09    783
7       s_mayo  0.19    972
8    s_ketchup  0.19   1460
9   s_barbecue  0.19    722
10     fromage  0.39    809
11        sans  0.00      0

In [57]:
nb_plat = 50
list_plat = []

for plat in range (nb_plat):
    rd_viande = rd.randint(1,3)
    nb_viande = rd.randint(1,2)
    rd_crudites = rd.randint(4,7)
    if rd_crudites == 7:
        rd_crudites = 11
    rd_sauce = rd.randint(7,10)
    if rd_sauce == 10:
        rd_sauce = 11
    nb_fromage = rd.randint(0,3)

    list_plat.append({
        "name": "Plat n°" + str(plat + 1),
        "ingredients": [df_ingredient_plat.ingredient[0], df_ingredient_plat.ingredient[rd_viande], df_ingredient_plat.ingredient[rd_crudites], df_ingredient_plat.ingredient[rd_sauce], df_ingredient_plat.ingredient[10]],
        "prix": round((df_ingredient_plat.prix[0] + nb_viande * df_ingredient_plat.prix[rd_viande] + df_ingredient_plat.prix[rd_crudites] + df_ingredient_plat.prix[rd_sauce]) + nb_fromage *  df_ingredient_plat.prix[10] + 1.49, 2),
    })

list_plat

[{'name': 'Plat n°1',
  'ingredients': ['pain', 'fish', 'tomate', 's_barbecue', 'fromage'],
  'prix': 4.73},
 {'name': 'Plat n°2',
  'ingredients': ['pain', 'fish', 'sans', 's_mayo', 'fromage'],
  'prix': 6.32},
 {'name': 'Plat n°3',
  'ingredients': ['pain', 'steak', 'salade', 'sans', 'fromage'],
  'prix': 4.64},
 {'name': 'Plat n°4',
  'ingredients': ['pain', 'steak', 'cornichon', 'sans', 'fromage'],
  'prix': 4.44},
 {'name': 'Plat n°5',
  'ingredients': ['pain', 'steak', 'salade', 's_mayo', 'fromage'],
  'prix': 4.62},
 {'name': 'Plat n°6',
  'ingredients': ['pain', 'nugguet', 'salade', 's_ketchup', 'fromage'],
  'prix': 4.84},
 {'name': 'Plat n°7',
  'ingredients': ['pain', 'nugguet', 'tomate', 'sans', 'fromage'],
  'prix': 3.46},
 {'name': 'Plat n°8',
  'ingredients': ['pain', 'fish', 'sans', 's_mayo', 'fromage'],
  'prix': 3.66},
 {'name': 'Plat n°9',
  'ingredients': ['pain', 'fish', 'tomate', 'sans', 'fromage'],
  'prix': 4.93},
 {'name': 'Plat n°10',
  'ingredients': ['pain', 'steak', 'salade', 'sans', 'fromage'],
  'prix': 4.25},
 {'name': 'Plat n°11',
  'ingredients': ['pain', 'fish', 'tomate', 's_ketchup', 'fromage'],
  'prix': 5.83},
 {'name': 'Plat n°12',
  'ingredients': ['pain', 'fish', 'salade', 'sans', 'fromage'],
  'prix': 4.15},
 {'name': 'Plat n°13',
  'ingredients': ['pain', 'steak', 'cornichon', 's_ketchup', 'fromage'],
  'prix': 5.02},
 {'name': 'Plat n°14',
  'ingredients': ['pain', 'steak', 'cornichon', 'sans', 'fromage'],
  'prix': 4.05},
 {'name': 'Plat n°15',
  'ingredients': ['pain', 'fish', 'cornichon', 's_mayo', 'fromage'],
  'prix': 5.63},
 {'name': 'Plat n°16',
  'ingredients': ['pain', 'nugguet', 'cornichon', 's_ketchup', 'fromage'],
  'prix': 3.84},
 {'name': 'Plat n°17',
  'ingredients': ['pain', 'fish', 'tomate', 'sans', 'fromage'],
  'prix': 4.93},
 {'name': 'Plat n°18',
  'ingredients': ['pain', 'nugguet', 'tomate', 'sans', 'fromage'],
  'prix': 5.82},
 {'name': 'Plat n°19',
  'ingredients': ['pain', 'steak', 'tomate', 's_barbecue', 'fromage'],
  'prix': 4.44},
 {'name': 'Plat n°20',
  'ingredients': ['pain', 'fish', 'salade', 'sans', 'fromage'],
  'prix': 4.93},
 {'name': 'Plat n°21',
  'ingredients': ['pain', 'fish', 'sans', 'sans', 'fromage'],
  'prix': 4.96},
 {'name': 'Plat n°22',
  'ingredients': ['pain', 'fish', 'salade', 's_mayo', 'fromage'],
  'prix': 6.61},
 {'name': 'Plat n°23',
  'ingredients': ['pain', 'fish', 'salade', 'sans', 'fromage'],
  'prix': 5.64},
 {'name': 'Plat n°24',
  'ingredients': ['pain', 'steak', 'cornichon', 's_mayo', 'fromage'],
  'prix': 4.03},
 {'name': 'Plat n°25',
  'ingredients': ['pain', 'nugguet', 'tomate', 'sans', 'fromage'],
  'prix': 5.43},
 {'name': 'Plat n°26',
  'ingredients': ['pain', 'nugguet', 'sans', 's_barbecue', 'fromage'],
  'prix': 4.94},
 {'name': 'Plat n°27',
  'ingredients': ['pain', 'nugguet', 'cornichon', 's_barbecue', 'fromage'],
  'prix': 4.23},
 {'name': 'Plat n°28',
  'ingredients': ['pain', 'fish', 'salade', 's_barbecue', 'fromage'],
  'prix': 5.44},
 {'name': 'Plat n°29',
  'ingredients': ['pain', 'fish', 'salade', 'sans', 'fromage'],
  'prix': 6.03},
 {'name': 'Plat n°30',
  'ingredients': ['pain', 'fish', 'cornichon', 's_ketchup', 'fromage'],
  'prix': 4.92},
 {'name': 'Plat n°31',
  'ingredients': ['pain', 'nugguet', 'cornichon', 's_mayo', 'fromage'],
  'prix': 5.03},
 {'name': 'Plat n°32',
  'ingredients': ['pain', 'nugguet', 'cornichon', 's_ketchup', 'fromage'],
  'prix': 4.23},
 {'name': 'Plat n°33',
  'ingredients': ['pain', 'fish', 'salade', 's_mayo', 'fromage'],
  'prix': 6.22},
 {'name': 'Plat n°34',
  'ingredients': ['pain', 'nugguet', 'salade', 's_mayo', 'fromage'],
  'prix': 6.01},
 {'name': 'Plat n°35',
  'ingredients': ['pain', 'steak', 'salade', 's_mayo', 'fromage'],
  'prix': 5.61},
 {'name': 'Plat n°36',
  'ingredients': ['pain', 'steak', 'tomate', 's_ketchup', 'fromage'],
  'prix': 4.44},
 {'name': 'Plat n°37',
  'ingredients': ['pain', 'fish', 'salade', 's_mayo', 'fromage'],
  'prix': 4.73},
 {'name': 'Plat n°38',
  'ingredients': ['pain', 'fish', 'cornichon', 's_barbecue', 'fromage'],
  'prix': 4.14},
 {'name': 'Plat n°39',
  'ingredients': ['pain', 'steak', 'sans', 's_mayo', 'fromage'],
  'prix': 3.16},
 {'name': 'Plat n°40',
  'ingredients': ['pain', 'nugguet', 'tomate', 's_mayo', 'fromage'],
  'prix': 5.23},
 {'name': 'Plat n°41',
  'ingredients': ['pain', 'steak', 'sans', 's_barbecue', 'fromage'],
  'prix': 4.93},
 {'name': 'Plat n°42',
  'ingredients': ['pain', 'steak', 'tomate', 'sans', 'fromage'],
  'prix': 5.42},
 {'name': 'Plat n°43',
  'ingredients': ['pain', 'fish', 'cornichon', 's_ketchup', 'fromage'],
  'prix': 6.41},
 {'name': 'Plat n°44',
  'ingredients': ['pain', 'nugguet', 'salade', 's_barbecue', 'fromage'],
  'prix': 5.62},
 {'name': 'Plat n°45',
  'ingredients': ['pain', 'nugguet', 'sans', 's_mayo', 'fromage'],
  'prix': 4.55},
 {'name': 'Plat n°46',
  'ingredients': ['pain', 'steak', 'cornichon', 's_mayo', 'fromage'],
  'prix': 4.24},
 {'name': 'Plat n°47',
  'ingredients': ['pain', 'nugguet', 'sans', 's_mayo', 'fromage'],
  'prix': 3.75},
 {'name': 'Plat n°48',
  'ingredients': ['pain', 'steak', 'salade', 's_mayo', 'fromage'],
  'prix': 4.83},
 {'name': 'Plat n°49',
  'ingredients': ['pain', 'fish', 'tomate', 's_barbecue', 'fromage'],
  'prix': 5.83},
 {'name': 'Plat n°50',
  'ingredients': ['pain', 'fish', 'tomate', 's_mayo', 'fromage'],
  'prix': 4.34}]

In [58]:
df_plat = pd.DataFrame(list_plat)

df_plat

         name                                      ingredients  prix
0    Plat n°1        [pain, fish, tomate, s_barbecue, fromage]  4.73
1    Plat n°2              [pain, fish, sans, s_mayo, fromage]  6.32
2    Plat n°3             [pain, steak, salade, sans, fromage]  4.64
3    Plat n°4          [pain, steak, cornichon, sans, fromage]  4.44
4    Plat n°5           [pain, steak, salade, s_mayo, fromage]  4.62
5    Plat n°6      [pain, nugguet, salade, s_ketchup, fromage]  4.84
6    Plat n°7           [pain, nugguet, tomate, sans, fromage]  3.46
7    Plat n°8              [pain, fish, sans, s_mayo, fromage]  3.66
8    Plat n°9              [pain, fish, tomate, sans, fromage]  4.93
9   Plat n°10             [pain, steak, salade, sans, fromage]  4.25
10  Plat n°11         [pain, fish, tomate, s_ketchup, fromage]  5.83
11  Plat n°12              [pain, fish, salade, sans, fromage]  4.15
12  Plat n°13     [pain, steak, cornichon, s_ketchup, fromage]  5.02
13  Plat n°14          [pain, steak, cornichon, sans, fromage]  4.05
14  Plat n°15         [pain, fish, cornichon, s_mayo, fromage]  5.63
15  Plat n°16   [pain, nugguet, cornichon, s_ketchup, fromage]  3.84
16  Plat n°17              [pain, fish, tomate, sans, fromage]  4.93
17  Plat n°18           [pain, nugguet, tomate, sans, fromage]  5.82
18  Plat n°19       [pain, steak, tomate, s_barbecue, fromage]  4.44
19  Plat n°20              [pain, fish, salade, sans, fromage]  4.93
20  Plat n°21                [pain, fish, sans, sans, fromage]  4.96
21  Plat n°22            [pain, fish, salade, s_mayo, fromage]  6.61
22  Plat n°23              [pain, fish, salade, sans, fromage]  5.64
23  Plat n°24        [pain, steak, cornichon, s_mayo, fromage]  4.03
24  Plat n°25           [pain, nugguet, tomate, sans, fromage]  5.43
25  Plat n°26       [pain, nugguet, sans, s_barbecue, fromage]  4.94
26  Plat n°27  [pain, nugguet, cornichon, s_barbecue, fromage]  4.23
27  Plat n°28        [pain, fish, salade, s_barbecue, fromage]  5.44
28  Plat n°29              [pain, fish, salade, sans, fromage]  6.03
29  Plat n°30      [pain, fish, cornichon, s_ketchup, fromage]  4.92
30  Plat n°31      [pain, nugguet, cornichon, s_mayo, fromage]  5.03
31  Plat n°32   [pain, nugguet, cornichon, s_ketchup, fromage]  4.23
32  Plat n°33            [pain, fish, salade, s_mayo, fromage]  6.22
33  Plat n°34         [pain, nugguet, salade, s_mayo, fromage]  6.01
34  Plat n°35           [pain, steak, salade, s_mayo, fromage]  5.61
35  Plat n°36        [pain, steak, tomate, s_ketchup, fromage]  4.44
36  Plat n°37            [pain, fish, salade, s_mayo, fromage]  4.73
37  Plat n°38     [pain, fish, cornichon, s_barbecue, fromage]  4.14
38  Plat n°39             [pain, steak, sans, s_mayo, fromage]  3.16
39  Plat n°40         [pain, nugguet, tomate, s_mayo, fromage]  5.23
40  Plat n°41         [pain, steak, sans, s_barbecue, fromage]  4.93
41  Plat n°42             [pain, steak, tomate, sans, fromage]  5.42
42  Plat n°43      [pain, fish, cornichon, s_ketchup, fromage]  6.41
43  Plat n°44     [pain, nugguet, salade, s_barbecue, fromage]  5.62
44  Plat n°45           [pain, nugguet, sans, s_mayo, fromage]  4.55
45  Plat n°46        [pain, steak, cornichon, s_mayo, fromage]  4.24
46  Plat n°47           [pain, nugguet, sans, s_mayo, fromage]  3.75
47  Plat n°48           [pain, steak, salade, s_mayo, fromage]  4.83
48  Plat n°49        [pain, fish, tomate, s_barbecue, fromage]  5.83
49  Plat n°50            [pain, fish, tomate, s_mayo, fromage]  4.34

In [11]:
df_ingredient_plat = df_ingredient_plat.set_index("ingredient")

df_ingredient_plat

            prix  stock
ingredient
pain        0.49   3482
steak       0.99    585
nugguet     1.19    226
fish        1.49   1560
salade      0.29   1178
tomate      0.29    598
cornichon   0.09   1661
s_mayo      0.19    836
s_ketchup   0.19   1730
s_barbecue  0.19    314
fromage     0.39   2655
sans        0.00      0

In [12]:
df_ingredient_plat["stock"]["pain"]

3482

In [13]:
df_plat.ingredients[2]

['pain', 'nugguet', 'salade', 's_ketchup', 'fromage']

In [14]:
def stock(liste = list):
    stock = 10000000000
    for element in liste:
        # print (element)
        if element != "sans":
            if df_ingredient_plat["stock"][element] < stock:
                stock = df_ingredient_plat["stock"][element]
    return stock

In [15]:
stock(df_plat.ingredients[2])

226

In [16]:
df_plat["stock"] = 0

df_plat.head(5)

       name                                  ingredients  prix  stock
0  Plat n°1     [pain, nugguet, tomate, s_mayo, fromage]  6.01      0
1  Plat n°2     [pain, steak, sans, s_barbecue, fromage]  4.54      0
2  Plat n°3  [pain, nugguet, salade, s_ketchup, fromage]  3.65      0
3  Plat n°4       [pain, steak, salade, s_mayo, fromage]  4.83      0
4  Plat n°5    [pain, steak, cornichon, s_mayo, fromage]  4.42      0

In [17]:
df_plat["stock"][0]

0

In [18]:
df_plat["ingredients"][0]

['pain', 'nugguet', 'tomate', 's_mayo', 'fromage']

##### Création d'une fonction pour récupérer le plus petit stock de la liste.

In [19]:
for element in range(len(df_plat)):
    df_plat["stock"][element] = stock(df_plat["ingredients"][element])

df_plat

/tmp/ipykernel_19555/4020266337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_plat["stock"][element] = stock(df_plat["ingredients"][element])

         name                                      ingredients  prix  stock
0    Plat n°1         [pain, nugguet, tomate, s_mayo, fromage]  6.01    226
1    Plat n°2         [pain, steak, sans, s_barbecue, fromage]  4.54    314
2    Plat n°3      [pain, nugguet, salade, s_ketchup, fromage]  3.65    226
3    Plat n°4           [pain, steak, salade, s_mayo, fromage]  4.83    585
4    Plat n°5        [pain, steak, cornichon, s_mayo, fromage]  4.42    585
5    Plat n°6         [pain, nugguet, tomate, s_mayo, fromage]  5.62    226
6    Plat n°7               [pain, steak, sans, sans, fromage]  5.13    585
7    Plat n°8     [pain, steak, cornichon, s_ketchup, fromage]  4.03    585
8    Plat n°9         [pain, fish, salade, s_ketchup, fromage]  4.73   1178
9   Plat n°10      [pain, nugguet, salade, s_ketchup, fromage]  4.84    226
10  Plat n°11         [pain, fish, salade, s_ketchup, fromage]  6.61   1178
11  Plat n°12      [pain, nugguet, cornichon, s_mayo, fromage]  5.03    226
12  Plat n°13      [pain, nugguet, tomate, s_ketchup, fromage]  4.04    226
13  Plat n°14      [pain, nugguet, salade, s_ketchup, fromage]  4.04    226
14  Plat n°15     [pain, nugguet, tomate, s_barbecue, fromage]  5.23    226
15  Plat n°16     [pain, nugguet, salade, s_barbecue, fromage]  3.65    226
16  Plat n°17       [pain, steak, salade, s_barbecue, fromage]  3.45    314
17  Plat n°18        [pain, nugguet, cornichon, sans, fromage]  4.84    226
18  Plat n°19             [pain, steak, tomate, sans, fromage]  3.26    585
19  Plat n°20         [pain, nugguet, salade, s_mayo, fromage]  6.01    226
20  Plat n°21     [pain, nugguet, salade, s_barbecue, fromage]  4.82    226
21  Plat n°22     [pain, nugguet, salade, s_barbecue, fromage]  5.62    226
22  Plat n°23    [pain, steak, cornichon, s_barbecue, fromage]  4.63    314
23  Plat n°24              [pain, fish, sans, s_mayo, fromage]  5.93    836
24  Plat n°25        [pain, nugguet, sans, s_ketchup, fromage]  5.72    226
25  Plat n°26          [pain, steak, cornichon, sans, fromage]  4.05    585
26  Plat n°27         [pain, steak, sans, s_barbecue, fromage]  4.54    314
27  Plat n°28              [pain, fish, salade, sans, fromage]  5.25   1178
28  Plat n°29           [pain, steak, salade, s_mayo, fromage]  3.84    585
29  Plat n°30         [pain, fish, tomate, s_ketchup, fromage]  5.83    598
30  Plat n°31               [pain, steak, sans, sans, fromage]  4.14    585
31  Plat n°32         [pain, nugguet, tomate, s_mayo, fromage]  6.01    226
32  Plat n°33         [pain, fish, tomate, s_ketchup, fromage]  4.34    598
33  Plat n°34        [pain, nugguet, cornichon, sans, fromage]  4.43    226
34  Plat n°35        [pain, fish, salade, s_barbecue, fromage]  4.73    314
35  Plat n°36             [pain, steak, tomate, sans, fromage]  5.42    585
36  Plat n°37             [pain, steak, salade, sans, fromage]  3.26    585
37  Plat n°38          [pain, steak, cornichon, sans, fromage]  4.83    585
38  Plat n°39          [pain, fish, sans, s_barbecue, fromage]  6.32    314
39  Plat n°40         [pain, nugguet, salade, s_mayo, fromage]  4.04    226
40  Plat n°41        [pain, steak, cornichon, s_mayo, fromage]  5.41    585
41  Plat n°42         [pain, nugguet, tomate, s_mayo, fromage]  4.84    226
42  Plat n°43           [pain, nugguet, tomate, sans, fromage]  4.63    226
43  Plat n°44              [pain, fish, salade, sans, fromage]  6.03   1178
44  Plat n°45  [pain, nugguet, cornichon, s_barbecue, fromage]  5.42    226
45  Plat n°46           [pain, steak, tomate, s_mayo, fromage]  4.23    585
46  Plat n°47      [pain, nugguet, cornichon, s_mayo, fromage]  4.62    226
47  Plat n°48        [pain, steak, tomate, s_ketchup, fromage]  5.22    585
48  Plat n°49               [pain, steak, sans, sans, fromage]  4.14    585
49  Plat n°50     [pain, nugguet, salade, s_barbecue, fromage]  6.01    226

#### Création des boissons.

In [20]:
df_boisson = pd.DataFrame({
    "boisson": ["coca_p", "coca_zero_p", "fanta_orange_p", "fanta_citron_p", "sprite_p", "vittel_p", "san_pellegrino_p", "jus_orange_p", "jus_pomme_p", "heinneken_p",
    "coca_g", "coca_zero_m", "fanta_orange_m", "fanta_citron_m", "sprite_m", "vittel_m", "san_pellegrino_m", "jus_orange_m", "jus_pomme_m", "heinneken_m",
    "coca_g", "coca_zero_g", "fanta_orange_g", "fanta_citron_g", "sprite_g", "vittel_g", "san_pellegrino_g", "jus_orange_g", "jus_pomme_g", "heinneken_g"
    ],
    "prix": [1.49, 0.99, 1.49, 1.49, 0.99, 0.99, 1.49, 1.99, 1.99, 2.99,
    1.49*1.25, 0.99*1.25, 1.49*1.25, 1.49*1.25, 0.99*1.25, 0.99*1.25, 1.49*1.25, 1.99*1.25, 1.99*1.25, 2.99*1.25,
    1.49*1.5, 0.99*1.5, 1.49*1.5, 1.49*1.5, 0.99*1.5, 0.99*1.5, 1.49*1.5, 1.99*1.5, 1.99*1.5, 2.99*1.5
    ],
    "stock": [rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000), rd.randint(300, 3000)]
    
    })

df_boisson["prix"] = round(df_boisson["prix"], 2)

df_boisson

             boisson  prix  stock
0             coca_p  1.49   1354
1        coca_zero_p  0.99   2514
2     fanta_orange_p  1.49   1586
3     fanta_citron_p  1.49   2259
4           sprite_p  0.99   1242
5           vittel_p  0.99   1668
6   san_pellegrino_p  1.49    792
7       jus_orange_p  1.99   2529
8        jus_pomme_p  1.99   1662
9        heinneken_p  2.99   2442
10            coca_g  1.86    682
11       coca_zero_m  1.24   2521
12    fanta_orange_m  1.86    514
13    fanta_citron_m  1.86   2890
14          sprite_m  1.24   1708
15          vittel_m  1.24   1567
16  san_pellegrino_m  1.86   1083
17      jus_orange_m  2.49   2557
18       jus_pomme_m  2.49   2536
19       heinneken_m  3.74    814
20            coca_g  2.24   1101
21       coca_zero_g  1.48   1494
22    fanta_orange_g  2.24   2434
23    fanta_citron_g  2.24    873
24          sprite_g  1.48    634
25          vittel_g  1.48    654
26  san_pellegrino_g  2.24    713
27      jus_orange_g  2.98   1097
28       jus_pomme_g  2.98   2754
29       heinneken_g  4.49   2554

#### Création des desserts.

In [21]:
df_fruit = pd.DataFrame({
    "ingredient": ["banane", "pomme", "orange"], 
    "prix": [0.99, 0.49, 0.49],
    "stock": [rd.randint(800, 1500), rd.randint(800, 1500), rd.randint(800, 1500)]
    })

df_fruit

  ingredient  prix  stock
0     banane  0.99   1364
1      pomme  0.49    932
2     orange  0.49   1391

In [22]:
df_glace = pd.DataFrame({
    "ingredient": ["glace_van", "glace_choco", "glace_pist"], 
    "prix": [0.69, 0.99, 0.99],
    "stock": [rd.randint(800, 1500), rd.randint(800, 1500), rd.randint(800, 1500)]
    })

df_glace

    ingredient  prix  stock
0    glace_van  0.69   1409
1  glace_choco  0.99   1494
2   glace_pist  0.99   1089

In [23]:
df_sauce = pd.DataFrame({
    "ingredient": ["s_choco", "s_caramel", "s_café", "croustille"], 
    "prix": [0.19, 0.19, 0.19, 0.09],
    "stock": [rd.randint(150, 2000), rd.randint(150, 2000), rd.randint(150, 2000), rd.randint(150, 2000)]
    })

df_sauce

   ingredient  prix  stock
0     s_choco  0.19    601
1   s_caramel  0.19    158
2      s_café  0.19    349
3  croustille  0.09    157

Un dessert comprend : 
- Un fruit.
- Entre 1 et 3 boules de glace.
- 1 sauce et des croustilles.

In [24]:
df_fruit.ingredient[1]

'pomme'

In [25]:
nb_dessert = 50
list_dessert = []

for dessert in range (nb_dessert):
    rd_fruit = rd.randint(0, len(df_fruit)-1)
    rd_glace = rd.randint(0, len(df_glace)-1)
    rd_sauce = rd.randint(0, len(df_sauce)-1)
    rd_boule = rd.randint(1, 3)

    list_dessert.append({
        "name": "Dessert n°" + str(dessert + 1),
        "ingredients": [df_fruit.ingredient[rd_fruit], df_glace.ingredient[rd_glace], df_sauce.ingredient[rd_sauce], df_sauce.ingredient[3]],
        "prix": round((df_fruit.prix[rd_fruit] + rd_boule * df_glace.prix[rd_glace] + df_sauce.prix[rd_sauce] + df_sauce.prix[3]) + 0.49, 2),
    })

df_dessert = pd.DataFrame(list_dessert)

df_dessert.head(10)

           name                                    ingredients  prix
0   Dessert n°1    [orange, glace_pist, s_caramel, croustille]  3.24
1   Dessert n°2       [orange, glace_pist, s_café, croustille]  2.25
2   Dessert n°3  [banane, glace_choco, croustille, croustille]  4.63
3   Dessert n°4       [pomme, glace_choco, s_café, croustille]  4.23
4   Dessert n°5      [pomme, glace_van, s_caramel, croustille]  2.64
5   Dessert n°6     [orange, glace_choco, s_choco, croustille]  3.24
6   Dessert n°7        [pomme, glace_pist, s_café, croustille]  3.24
7   Dessert n°8    [orange, glace_pist, s_caramel, croustille]  2.25
8   Dessert n°9    [pomme, glace_pist, croustille, croustille]  2.15
9  Dessert n°10       [banane, glace_van, s_choco, croustille]  3.83

In [26]:
df_dessert["stock"] = 0

df_dessert.head(10)

           name                                    ingredients  prix  stock
0   Dessert n°1    [orange, glace_pist, s_caramel, croustille]  3.24      0
1   Dessert n°2       [orange, glace_pist, s_café, croustille]  2.25      0
2   Dessert n°3  [banane, glace_choco, croustille, croustille]  4.63      0
3   Dessert n°4       [pomme, glace_choco, s_café, croustille]  4.23      0
4   Dessert n°5      [pomme, glace_van, s_caramel, croustille]  2.64      0
5   Dessert n°6     [orange, glace_choco, s_choco, croustille]  3.24      0
6   Dessert n°7        [pomme, glace_pist, s_café, croustille]  3.24      0
7   Dessert n°8    [orange, glace_pist, s_caramel, croustille]  2.25      0
8   Dessert n°9    [pomme, glace_pist, croustille, croustille]  2.15      0
9  Dessert n°10       [banane, glace_van, s_choco, croustille]  3.83      0

In [27]:
df_ingredient_dessert = pd.concat([df_fruit, df_glace, df_sauce]).set_index("ingredient")

df_ingredient_dessert

             prix  stock
ingredient
banane       0.99   1364
pomme        0.49    932
orange       0.49   1391
glace_van    0.69   1409
glace_choco  0.99   1494
glace_pist   0.99   1089
s_choco      0.19    601
s_caramel    0.19    158
s_café       0.19    349
croustille   0.09    157

In [28]:
df_dessert["ingredients"][0]

['orange', 'glace_pist', 's_caramel', 'croustille']

In [29]:
def stock_dessert(liste = list):
    stock = 10000000000
    for element in liste:
        # print (element)
        if element != "sans":
            if df_ingredient_dessert["stock"][element] < stock:
                stock = df_ingredient_dessert["stock"][element]
    return stock

In [30]:
for element in range(len(df_dessert)):
    df_dessert["stock"][element] = stock_dessert(df_dessert["ingredients"][element])

df_dessert

/tmp/ipykernel_19555/3919843051.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dessert["stock"][element] = stock_dessert(df_dessert["ingredients"][element])

            name                                    ingredients  prix  stock
0    Dessert n°1    [orange, glace_pist, s_caramel, croustille]  3.24    157
1    Dessert n°2       [orange, glace_pist, s_café, croustille]  2.25    157
2    Dessert n°3  [banane, glace_choco, croustille, croustille]  4.63    157
3    Dessert n°4       [pomme, glace_choco, s_café, croustille]  4.23    157
4    Dessert n°5      [pomme, glace_van, s_caramel, croustille]  2.64    157
5    Dessert n°6     [orange, glace_choco, s_choco, croustille]  3.24    157
6    Dessert n°7        [pomme, glace_pist, s_café, croustille]  3.24    157
7    Dessert n°8    [orange, glace_pist, s_caramel, croustille]  2.25    157
8    Dessert n°9    [pomme, glace_pist, croustille, croustille]  2.15    157
9   Dessert n°10       [banane, glace_van, s_choco, croustille]  3.83    157
10  Dessert n°11     [orange, glace_choco, s_choco, croustille]  3.24    157
11  Dessert n°12         [pomme, glace_van, s_café, croustille]  2.64    157
12  Dessert n°13      [pomme, glace_choco, s_choco, croustille]  4.23    157
13  Dessert n°14        [pomme, glace_van, s_choco, croustille]  3.33    157
14  Dessert n°15     [pomme, glace_pist, s_caramel, croustille]  2.25    157
15  Dessert n°16     [orange, glace_choco, s_choco, croustille]  4.23    157
16  Dessert n°17      [pomme, glace_van, s_caramel, croustille]  1.95    157
17  Dessert n°18        [orange, glace_van, s_café, croustille]  1.95    157
18  Dessert n°19     [pomme, glace_van, croustille, croustille]  3.23    157
19  Dessert n°20    [pomme, glace_choco, s_caramel, croustille]  4.23    157
20  Dessert n°21       [pomme, glace_choco, s_café, croustille]  2.25    157
21  Dessert n°22       [banane, glace_pist, s_café, croustille]  3.74    157
22  Dessert n°23     [orange, glace_van, s_caramel, croustille]  2.64    157
23  Dessert n°24     [banane, glace_van, s_caramel, croustille]  2.45    157
24  Dessert n°25       [pomme, glace_pist, s_choco, croustille]  3.24    157
25  Dessert n°26    [pomme, glace_choco, s_caramel, croustille]  3.24    157
26  Dessert n°27        [orange, glace_van, s_café, croustille]  3.33    157
27  Dessert n°28   [banane, glace_choco, s_caramel, croustille]  2.75    157
28  Dessert n°29   [orange, glace_pist, croustille, croustille]  3.14    157
29  Dessert n°30     [banane, glace_choco, s_choco, croustille]  4.73    157
30  Dessert n°31      [orange, glace_pist, s_choco, croustille]  4.23    157
31  Dessert n°32     [pomme, glace_pist, s_caramel, croustille]  3.24    157
32  Dessert n°33   [orange, glace_pist, croustille, croustille]  2.15    157
33  Dessert n°34      [banane, glace_choco, s_café, croustille]  4.73    157
34  Dessert n°35     [pomme, glace_van, croustille, croustille]  2.54    157
35  Dessert n°36        [banane, glace_van, s_café, croustille]  2.45    157
36  Dessert n°37      [banane, glace_pist, s_choco, croustille]  3.74    157
37  Dessert n°38       [orange, glace_van, s_choco, croustille]  2.64    157
38  Dessert n°39      [pomme, glace_choco, s_choco, croustille]  3.24    157
39  Dessert n°40      [banane, glace_choco, s_café, croustille]  3.74    157
40  Dessert n°41       [pomme, glace_choco, s_café, croustille]  2.25    157
41  Dessert n°42     [banane, glace_van, s_caramel, croustille]  3.83    157
42  Dessert n°43  [orange, glace_choco, croustille, croustille]  2.15    157
43  Dessert n°44   [orange, glace_pist, croustille, croustille]  4.13    157
44  Dessert n°45       [orange, glace_van, s_choco, croustille]  3.33    157
45  Dessert n°46      [orange, glace_pist, s_choco, croustille]  2.25    157
46  Dessert n°47     [orange, glace_van, s_caramel, croustille]  3.33    157
47  Dessert n°48     [pomme, glace_pist, s_caramel, croustille]  3.24    157
48  Dessert n°49   [banane, glace_pist, croustille, croustille]  2.65    157
49  Dessert n°50      [pomme, glace_van, s_caramel, croustille]  2.64    157

#### Création de la carte.

La liste des pays contient X pays différents, il faut donc créer X cartes différentes avec : Plats, Boissons et Desserts.

Une carte est composée de 15 plats, 10 boissons (dans 3 tailles : petit, moyen, grand) et 20 desserts différents.

In [31]:
list_pays_block = [df_resto["pays"].unique()]
list_pays = df_resto["pays"].unique()

list_pays

array(['United States', 'South Africa', 'Colombia', 'Vietnam', 'Italy',
       'Ireland', 'China', 'France', 'Peru', 'New Zealand', 'Spain',
       'Brazil', 'Australia', 'Austria', 'Pakistan', 'Poland', 'Canada',
       'Costa Rica', 'Mexico', 'Philippines', 'Indonesia', 'Ukraine',
       'Turkey', 'Singapore', 'Nigeria', 'Chile', 'Norway', 'South Korea',
       'United Kingdom', 'Netherlands', 'India', 'Belgium', 'Germany',
       'Russian Federation'], dtype=object)

In [32]:
len(list_pays)

34

In [40]:
df_pays = pd.DataFrame()

for pays in range(len(list_pays_block)):
    df_pays["pays"] = list_pays_block[pays]
    
df_pays

                  pays
0        United States
1         South Africa
2             Colombia
3              Vietnam
4                Italy
5              Ireland
6                China
7               France
8                 Peru
9          New Zealand
10               Spain
11              Brazil
12           Australia
13             Austria
14            Pakistan
15              Poland
16              Canada
17          Costa Rica
18              Mexico
19         Philippines
20           Indonesia
21             Ukraine
22              Turkey
23           Singapore
24             Nigeria
25               Chile
26              Norway
27         South Korea
28      United Kingdom
29         Netherlands
30               India
31             Belgium
32             Germany
33  Russian Federation

## Récapitulatif de la base de donées

In [34]:
df_resto

,code_postal,pays,capacité,espace_enfants,borne_service_rapide,parking,acces_handicap
0,24-13,United States,247,0,0,0,1
1,G27 7HT,South Africa,96,1,1,0,0
2,7443 YD,Colombia,68,1,0,1,1
3,93956-418,Vietnam,181,0,0,1,1
4,977145,Italy,75,0,0,0,0
...,...,...,...,...,...,...,...
245,183227,Turkey,126,0,1,1,0
246,8563,Germany,135,1,1,1,1
247,21354,Italy,63,0,0,0,0
248,4460,Pakistan,135,1,0,1,1
249,7363,Peru,198,1,1,1,1

In [41]:
df_pays

                  pays
0        United States
1         South Africa
2             Colombia
3              Vietnam
4                Italy
5              Ireland
6                China
7               France
8                 Peru
9          New Zealand
10               Spain
11              Brazil
12           Australia
13             Austria
14            Pakistan
15              Poland
16              Canada
17          Costa Rica
18              Mexico
19         Philippines
20           Indonesia
21             Ukraine
22              Turkey
23           Singapore
24             Nigeria
25               Chile
26              Norway
27         South Korea
28      United Kingdom
29         Netherlands
30               India
31             Belgium
32             Germany
33  Russian Federation

In [35]:
df_employes

,nom,telephone,email,address,date,poste,note
0,Kenneth Snow,1-465-332-3956,integer.vitae@icloud.org,Ap #109-9179 Quisque Rd.,4/5/2004,cuisinier,0.0
1,Maia Garcia,176-3341,fusce@outlook.net,606 Odio. Ave,3/5/2010,cuisinier,1.0
2,Shannon Mooney,1-501-732-0136,id@yahoo.net,"Ap #985-7190 Vulputate, Road",7/9/2020,cuisinier,3.0
3,Tatyana Pace,1-178-335-7465,lectus@google.org,Ap #344-5490 Pellentesque Avenue,26/11/2007,cuisinier,0.0
4,Indira Vega,821-7453,quis.massa@yahoo.org,152-5825 Urna Rd.,16/4/2006,cuisinier,9.0
...,...,...,...,...,...,...,...
3640,Caldwell Salinas,1-811-733-2826,vitae.sodales@outlook.couk,Ap #252-1766 Mollis St.,10/8/2017,cuisinier,6.0
3641,Cally Burton,567-3727,quisque.fringilla.euismod@aol.ca,290-9064 Sed Rd.,11/11/2015,cuisinier,5.0
3642,Irma Mccall,573-5934,malesuada.augue@outlook.ca,Ap #777-9961 Elementum Rd.,4/9/2007,cuisinier,5.0
3643,Charity Humphrey,1-529-888-7386,a.scelerisque.sed@aol.net,Ap #234-705 Faucibus Av.,20/12/2008,cuisinier,2.0
3644,Wanda Sullivan,535-5059,mauris.aliquam@icloud.com,"P.O. Box 959, 5947 Volutpat. Av.",31/5/2019,cuisinier,7.0

In [36]:
df_plat

         name                                      ingredients  prix  stock
0    Plat n°1         [pain, nugguet, tomate, s_mayo, fromage]  6.01    226
1    Plat n°2         [pain, steak, sans, s_barbecue, fromage]  4.54    314
2    Plat n°3      [pain, nugguet, salade, s_ketchup, fromage]  3.65    226
3    Plat n°4           [pain, steak, salade, s_mayo, fromage]  4.83    585
4    Plat n°5        [pain, steak, cornichon, s_mayo, fromage]  4.42    585
5    Plat n°6         [pain, nugguet, tomate, s_mayo, fromage]  5.62    226
6    Plat n°7               [pain, steak, sans, sans, fromage]  5.13    585
7    Plat n°8     [pain, steak, cornichon, s_ketchup, fromage]  4.03    585
8    Plat n°9         [pain, fish, salade, s_ketchup, fromage]  4.73   1178
9   Plat n°10      [pain, nugguet, salade, s_ketchup, fromage]  4.84    226
10  Plat n°11         [pain, fish, salade, s_ketchup, fromage]  6.61   1178
11  Plat n°12      [pain, nugguet, cornichon, s_mayo, fromage]  5.03    226
12  Plat n°13      [pain, nugguet, tomate, s_ketchup, fromage]  4.04    226
13  Plat n°14      [pain, nugguet, salade, s_ketchup, fromage]  4.04    226
14  Plat n°15     [pain, nugguet, tomate, s_barbecue, fromage]  5.23    226
15  Plat n°16     [pain, nugguet, salade, s_barbecue, fromage]  3.65    226
16  Plat n°17       [pain, steak, salade, s_barbecue, fromage]  3.45    314
17  Plat n°18        [pain, nugguet, cornichon, sans, fromage]  4.84    226
18  Plat n°19             [pain, steak, tomate, sans, fromage]  3.26    585
19  Plat n°20         [pain, nugguet, salade, s_mayo, fromage]  6.01    226
20  Plat n°21     [pain, nugguet, salade, s_barbecue, fromage]  4.82    226
21  Plat n°22     [pain, nugguet, salade, s_barbecue, fromage]  5.62    226
22  Plat n°23    [pain, steak, cornichon, s_barbecue, fromage]  4.63    314
23  Plat n°24              [pain, fish, sans, s_mayo, fromage]  5.93    836
24  Plat n°25        [pain, nugguet, sans, s_ketchup, fromage]  5.72    226
25  Plat n°26          [pain, steak, cornichon, sans, fromage]  4.05    585
26  Plat n°27         [pain, steak, sans, s_barbecue, fromage]  4.54    314
27  Plat n°28              [pain, fish, salade, sans, fromage]  5.25   1178
28  Plat n°29           [pain, steak, salade, s_mayo, fromage]  3.84    585
29  Plat n°30         [pain, fish, tomate, s_ketchup, fromage]  5.83    598
30  Plat n°31               [pain, steak, sans, sans, fromage]  4.14    585
31  Plat n°32         [pain, nugguet, tomate, s_mayo, fromage]  6.01    226
32  Plat n°33         [pain, fish, tomate, s_ketchup, fromage]  4.34    598
33  Plat n°34        [pain, nugguet, cornichon, sans, fromage]  4.43    226
34  Plat n°35        [pain, fish, salade, s_barbecue, fromage]  4.73    314
35  Plat n°36             [pain, steak, tomate, sans, fromage]  5.42    585
36  Plat n°37             [pain, steak, salade, sans, fromage]  3.26    585
37  Plat n°38          [pain, steak, cornichon, sans, fromage]  4.83    585
38  Plat n°39          [pain, fish, sans, s_barbecue, fromage]  6.32    314
39  Plat n°40         [pain, nugguet, salade, s_mayo, fromage]  4.04    226
40  Plat n°41        [pain, steak, cornichon, s_mayo, fromage]  5.41    585
41  Plat n°42         [pain, nugguet, tomate, s_mayo, fromage]  4.84    226
42  Plat n°43           [pain, nugguet, tomate, sans, fromage]  4.63    226
43  Plat n°44              [pain, fish, salade, sans, fromage]  6.03   1178
44  Plat n°45  [pain, nugguet, cornichon, s_barbecue, fromage]  5.42    226
45  Plat n°46           [pain, steak, tomate, s_mayo, fromage]  4.23    585
46  Plat n°47      [pain, nugguet, cornichon, s_mayo, fromage]  4.62    226
47  Plat n°48        [pain, steak, tomate, s_ketchup, fromage]  5.22    585
48  Plat n°49               [pain, steak, sans, sans, fromage]  4.14    585
49  Plat n°50     [pain, nugguet, salade, s_barbecue, fromage]  6.01    226

In [37]:
df_boisson

             boisson  prix  stock
0             coca_p  1.49   1354
1        coca_zero_p  0.99   2514
2     fanta_orange_p  1.49   1586
3     fanta_citron_p  1.49   2259
4           sprite_p  0.99   1242
5           vittel_p  0.99   1668
6   san_pellegrino_p  1.49    792
7       jus_orange_p  1.99   2529
8        jus_pomme_p  1.99   1662
9        heinneken_p  2.99   2442
10            coca_g  1.86    682
11       coca_zero_m  1.24   2521
12    fanta_orange_m  1.86    514
13    fanta_citron_m  1.86   2890
14          sprite_m  1.24   1708
15          vittel_m  1.24   1567
16  san_pellegrino_m  1.86   1083
17      jus_orange_m  2.49   2557
18       jus_pomme_m  2.49   2536
19       heinneken_m  3.74    814
20            coca_g  2.24   1101
21       coca_zero_g  1.48   1494
22    fanta_orange_g  2.24   2434
23    fanta_citron_g  2.24    873
24          sprite_g  1.48    634
25          vittel_g  1.48    654
26  san_pellegrino_g  2.24    713
27      jus_orange_g  2.98   1097
28       jus_pomme_g  2.98   2754
29       heinneken_g  4.49   2554

In [38]:
df_dessert

            name                                    ingredients  prix  stock
0    Dessert n°1    [orange, glace_pist, s_caramel, croustille]  3.24    157
1    Dessert n°2       [orange, glace_pist, s_café, croustille]  2.25    157
2    Dessert n°3  [banane, glace_choco, croustille, croustille]  4.63    157
3    Dessert n°4       [pomme, glace_choco, s_café, croustille]  4.23    157
4    Dessert n°5      [pomme, glace_van, s_caramel, croustille]  2.64    157
5    Dessert n°6     [orange, glace_choco, s_choco, croustille]  3.24    157
6    Dessert n°7        [pomme, glace_pist, s_café, croustille]  3.24    157
7    Dessert n°8    [orange, glace_pist, s_caramel, croustille]  2.25    157
8    Dessert n°9    [pomme, glace_pist, croustille, croustille]  2.15    157
9   Dessert n°10       [banane, glace_van, s_choco, croustille]  3.83    157
10  Dessert n°11     [orange, glace_choco, s_choco, croustille]  3.24    157
11  Dessert n°12         [pomme, glace_van, s_café, croustille]  2.64    157
12  Dessert n°13      [pomme, glace_choco, s_choco, croustille]  4.23    157
13  Dessert n°14        [pomme, glace_van, s_choco, croustille]  3.33    157
14  Dessert n°15     [pomme, glace_pist, s_caramel, croustille]  2.25    157
15  Dessert n°16     [orange, glace_choco, s_choco, croustille]  4.23    157
16  Dessert n°17      [pomme, glace_van, s_caramel, croustille]  1.95    157
17  Dessert n°18        [orange, glace_van, s_café, croustille]  1.95    157
18  Dessert n°19     [pomme, glace_van, croustille, croustille]  3.23    157
19  Dessert n°20    [pomme, glace_choco, s_caramel, croustille]  4.23    157
20  Dessert n°21       [pomme, glace_choco, s_café, croustille]  2.25    157
21  Dessert n°22       [banane, glace_pist, s_café, croustille]  3.74    157
22  Dessert n°23     [orange, glace_van, s_caramel, croustille]  2.64    157
23  Dessert n°24     [banane, glace_van, s_caramel, croustille]  2.45    157
24  Dessert n°25       [pomme, glace_pist, s_choco, croustille]  3.24    157
25  Dessert n°26    [pomme, glace_choco, s_caramel, croustille]  3.24    157
26  Dessert n°27        [orange, glace_van, s_café, croustille]  3.33    157
27  Dessert n°28   [banane, glace_choco, s_caramel, croustille]  2.75    157
28  Dessert n°29   [orange, glace_pist, croustille, croustille]  3.14    157
29  Dessert n°30     [banane, glace_choco, s_choco, croustille]  4.73    157
30  Dessert n°31      [orange, glace_pist, s_choco, croustille]  4.23    157
31  Dessert n°32     [pomme, glace_pist, s_caramel, croustille]  3.24    157
32  Dessert n°33   [orange, glace_pist, croustille, croustille]  2.15    157
33  Dessert n°34      [banane, glace_choco, s_café, croustille]  4.73    157
34  Dessert n°35     [pomme, glace_van, croustille, croustille]  2.54    157
35  Dessert n°36        [banane, glace_van, s_café, croustille]  2.45    157
36  Dessert n°37      [banane, glace_pist, s_choco, croustille]  3.74    157
37  Dessert n°38       [orange, glace_van, s_choco, croustille]  2.64    157
38  Dessert n°39      [pomme, glace_choco, s_choco, croustille]  3.24    157
39  Dessert n°40      [banane, glace_choco, s_café, croustille]  3.74    157
40  Dessert n°41       [pomme, glace_choco, s_café, croustille]  2.25    157
41  Dessert n°42     [banane, glace_van, s_caramel, croustille]  3.83    157
42  Dessert n°43  [orange, glace_choco, croustille, croustille]  2.15    157
43  Dessert n°44   [orange, glace_pist, croustille, croustille]  4.13    157
44  Dessert n°45       [orange, glace_van, s_choco, croustille]  3.33    157
45  Dessert n°46      [orange, glace_pist, s_choco, croustille]  2.25    157
46  Dessert n°47     [orange, glace_van, s_caramel, croustille]  3.33    157
47  Dessert n°48     [pomme, glace_pist, s_caramel, croustille]  3.24    157
48  Dessert n°49   [banane, glace_pist, croustille, croustille]  2.65    157
49  Dessert n°50      [pomme, glace_van, s_caramel, croustille]  2.64    157